body {
    font-family: 'PT Sans', sans-serif;
    color: #4e4e4e;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

a:visited {
    color: $primaryColor;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;

    &--small {
        max-width: 968px;
        padding: 0 15px;
        margin: 0 auto;
    }
}

.section {
    padding: 100px 0;

    &__title {
        font-size: 32px;
        font-weight: 400;
        color: $primaryColor;
        text-align: center;
        margin-top: 0;
        margin-bottom: 50px;
    }

    &__text-box {
        margin-bottom: 50px;
    }

    &__text-p {
        font-size: 18px;
        line-height: 1.4;
        margin: 40px 0;
    }
}

.section--dark-bg {
    background-color: #232323;
}

.primary-bold {
    font-weight: 700;
    color: $primaryColor;
}

.text--bold {
    font-weight: 700;
}

.text--center {
    text-align: center;
}

.text--underline {
    text-decoration: underline;
}

.text--neon {
    text-shadow: -4px -2px 30px #fff, 10px -10px 32px #fff, 0px 0px 200px#fff, 0px -76px 174px #fff, -2px -2px 8px #fff; 
}

.text--neon-primary {
    text-shadow: -4px -2px 30px $primaryColor, 10px -10px 32px $primaryColor, 0px 0px 200px $primaryColor, 0px -76px 174px $primaryColor, -2px -2px 8px $primaryColor; 
}

.d-block {
    display: block;
}

.justify-center {
    justify-content: center;
}

.no-bottom-padding {
    padding: 100px 0 0 0;
}

@media (max-width: 1010px) {
    .section {
        padding: 60px 0;
    }
}

@media (max-width: 620px) {
    .section__text-p {
        margin: 20px 0;
    }
}

@media (max-width: 446px) {
    .section__title {
        font-size: 24px;
    } 
}