body {
    font-family: 'PT Sans', sans-serif;
    color: #4e4e4e;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

a:visited {
    color: $primaryColor;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;

    &--small {
        max-width: 968px;
        padding: 0 15px;
        margin: 0 auto;
    }
}

.section {
    padding: 100px 0;

    &__title {
        font-size: 32px;
        font-weight: 400;
        color: $primaryColor;
        text-align: center;
        margin-top: 0;
        margin-bottom: 50px;
    }

    &__text-box {
        margin-bottom: 50px;
    }

    &__text-p {
        font-size: 18px;
        line-height: 1.4;
        margin: 40px 0;
    }
}

.primary-bold {
    font-weight: 700;
    color: $primaryColor;
}

.justify-center {
    justify-content: center;
}

.no-bottom-padding {
    padding: 100px 0 0 0;
}

@media (max-width: 1010px) {
    .section {
        padding: 60px 0;
    }
}

.text--bold {
    font-weight: 700;
}

@media (max-width: 620px) {
    .section__text-p {
        margin: 20px 0;
    }
}

@media (max-width: 446px) {
    .section__title {
        font-size: 24px;
    } 
}