
.benefits {
    
    &__image-view {
        display: block;
        margin: 0 auto 120px;
        text-align: center;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__box {
        width: 26%;
        height: 360px;
        margin: 20px;
        padding: 40px 25px;
        border-radius: 5px;
        box-shadow: $boxShadow;
        text-align: center;
        transition: all .3s ease-in-out;

        &:hover {
            transform: translateY(-20px);
        }
    }

    &__box-title {
        font-size: 22px;
        color: $primaryColor;
    }

    &__box-description {
        font-size: 18px;
        color: $textColor;
        line-height: 1.5;
        text-align: justify;
    }
}

@media (max-width: 1256px) {
    .benefits__inner {
        justify-content: center;
    }
}

@media (max-width: 1066px) {
    .benefits__box {
        width: 50%;
    }
}

@media (max-width: 691px) {
    .benefits__box {
        width: 100%;
    }
}

@media (max-width: 374px) {
    .benefits__box {
        height: auto;
    }
}