.btn {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    transition: all .3s ease-in-out;

    &--primary {
        color: #fff;
        background-color: $primaryColor;
        padding: 20px 40px;
        border-radius: $borderRadius;
        position: relative;
        overflow: hidden;

        span {
            z-index: 20;
        }

        &::after {
            background: #fff;
            content: "";
            height: 155px;
            left: -75px;
            opacity: .2;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            width: 50px;
            z-index: 2;
        }

        &:hover::after {
            left: 120%;
            transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
        }

    }

    &--gost {
        padding: 17px 37px;
        border: 3px solid $primaryColor;
        border-radius: $borderRadius;
        overflow: hidden;
    }

    &--gost-white {
        color: #fff;
        border: 3px solid #fff;
        position: relative;
        overflow: hidden;

        &::after {
            background: #fff;
            content: "";
            height: 155px;
            left: -75px;
            opacity: .2;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            width: 50px;
            z-index: 2;
        }

        &:hover::after {
            left: 120%;
            transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
        }
    }

    &--download {
        position: relative;
        padding: 20px 20px 20px 50px;
        &::before {
            content: '';
            width: 30px;
            height: 30px;
            background-image: url(../assets/images/icons/download-icon.svg);
            background-size: cover;
            position: absolute;
            top: 20%;
            left: 10px;
            transition: all .3s ease-in-out;
        }

        &:hover::before {
            transform: translateY(5px);
        }
    }

    &--circle-text {
        padding-top: 85px;
        font-weight: 400;
        color: #fff;
        position: relative;

        &::before {
            content: '';
            height: 85px;
            width: 85px;
            border-radius: 50%;
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
        }

        &:first-child {
            margin-left: 10px;
        }

        &:hover {
            color: $primaryColor;
            font-weight: 700;
        }
    }

    &--play {
        
        &::before {
            background:url(../assets/images/icons/btn__icon-play.png) repeat, #fff;
            background-position: 57% center; 
            background-repeat: no-repeat;

        }
    }

    &--product {
        
        &::before {
            background:url(../assets/images/icons/btn__icon-board.png) repeat, #fff;
            background-position: center; 
            background-repeat: no-repeat;

        }
    }


}