
.footer {
    padding: 40px 0;
    color: #fff;
    background-color: #232323;

    &__right-col {
        display: flex;
    align-items: center;
    }

    &__address {
        margin: 0 0 10px 0;
    }

    &__links {
        margin-bottom: 10px;
    }

    &__link {
        text-decoration: none;
        color: $primaryColor;
        transition: all .3s ease-in-out;

        &:first-child {
            margin-right: 10px;
        }

        &:hover {
            color: #fff;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icon {
        height: 40px;
        transition: all .3s ease-in-out;

        &--youtube {
            height: 36px;
            margin-left: 10px;
        }

        &:hover {
            transform: scale(.9);
        }
    }
}