
.footer {
    padding: 40px 0;
    color: #fff;
    background-color: #232323;

    &__links {
        margin-bottom: 10px;
    }

    &__link {
        text-decoration: none;
        color: $primaryColor;
        transition: all .3s ease-in-out;

        &:first-child {
            margin-right: 10px;
        }

        &:hover {
            color: #fff;
        }
    }
}