
.mid-hero {
    height: 600px;
    background: linear-gradient(0deg, rgba(74, 93, 242, .7),rgba(74, 93, 242, .9));
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 38px;
        color: #fff;
        margin-bottom: 40px;
    }

    &__buttons {
        text-align: center;
        margin-top: 70px;
    }
}

@media (max-width: 768px) {
    .mid-hero {
        height: 300px;

        &__title {
            font-size: 30px;
            margin-bottom: 20px;
        }
    }

    .mid-hero__buttons {
        margin-top: 30px;
    }

    .btn--circle-text::before {
        top: 0px;
    }
}

@media (max-width: 376px) {
    .mid-hero {

        &__title {
            font-size: 22px;
            margin-bottom: 10px;
        }
    }
}