
.mid-hero {
    height: 600px;
    background: linear-gradient(0deg, rgba(74, 93, 242, .7),rgba(74, 93, 242, .9));
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 38px;
        color: #fff;
        margin-bottom: 40px;
    }

    &__buttons {
        text-align: center;
        margin-top: 70px;
    }
}