
.small-hero {
    height: 480px;
    background: linear-gradient(0deg, rgba(74, 93, 242, .7),rgba(74, 93, 242, .9));
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 38px;
        color: #fff;
        margin-bottom: 40px;
    }

    &__sub-title {
        font-size: 22px;
        color: #fff;
    }
}

@media (max-width: 620px) {
    .small-hero .small-hero__title {
        font-size: 30px;
        text-align: center;
        line-height: 1.4;
    }
}