.sub-header {
    background-color: $primaryColor;


    &__inner {
        padding: 10px 0;
        height: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        display: inline-block;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        padding-left: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;

        &::before {
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            top: 0;
            background: url(assets/images/icons/email-icon.svg);
            background-size: cover;
        }

        &:first-child  {

            &::before {
                background: url(assets/images/icons/phone-icon.svg);
                background-size: cover; 
                width: 16px;
                height: 18px;
                top: 2px;
                left: 4px;
            }
        }
    }
}

@media (max-width: 532px) {
    .sub-header__inner {
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

}