
.video-example {
    padding: 50px 0 100px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__left-col {
        width: 65%;
    }

    &__right-col {
        img {
            display: block;
            margin-top: -2px;
        }
    }
    
    &__name {
        margin-bottom: 30px;
    }

    &__embed {
        margin-bottom: 50px;
    }

    &__description-title {
        font-size: 20px;
        padding-bottom: 10px;
        border-bottom: 1px dashed $textColor;
        margin-bottom: 20px;
    }

    &__description-text {
        line-height: 1.4;
        margin-bottom: 50px;
    }

    &__cta-box {
        box-shadow: $boxShadow;
        padding: 40px;
        border-radius: $borderRadius;
        text-align: center;
    }

}

.video-example__link {
    display: block;
    margin-bottom: 20px;
}

.cta-box {

    &__title {
        font-size: 20px;
        color: $primaryColor;
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 20px;
    }
}

/* WISTIA STYLES */

.wistia_embed {
    box-shadow: 12px 12px 0px rgba(255, 255, 255, .2);
    border-radius: 10px;
    transition: all .3s ease-out;
    background-image: url(../assets/images/icons/loader.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10%;
}

@media (max-width: 1200px) {
    .video-example {
        padding: 50px 0 100px 0;
    
        &__inner {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__left-col {
            width: 90%;

        }
    
        &__right-col {
            img {
                display: block;
                margin-top: 40px;
            }
        }

        &__name {
            font-size: 22px;
            text-align: center;
            margin-bottom: 30px;
        }

    }
}