
.works {

    &__inner {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 100px;
        }
    }

    &__list {
        list-style: none;
        padding-inline-start: 0;
    }

    &__list-item {
        padding-left: 30px;
        margin-bottom: 40px;
        position: relative;
        line-height: 1.4;

        ul {
            margin-top: 20px;
        }

        &::before {
            content: '';
            width: 20px;
            height: 18px;
            background-image: url(assets/images/icons/board-icon.svg);
            background-size: cover;
            position: absolute;
            left: 0;
            top: 2px;
        }
    }

    &__img {
        display: block;
        margin: 0 50px 0 0;
    }
}

.list-title--left {
    text-align: left;
}

.works__img--nomargin {
    margin: 0;
    margin-left: 50px;
}