.about-body {

    .small-hero {
        background: linear-gradient(0deg, rgba(74, 93, 242, 1), rgba(74, 93, 242, .5)), url(../assets/images/mid-hero-bg.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
 
    section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.team {

    padding-top: 0 !important;

    &__box {
        display: flex;
        align-items: center;
        padding: 40px;
        box-shadow: $boxShadow;
        border-radius: $borderRadius;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &__img {
        display: block;
        border-radius: 50%;
        height: 150px;
        margin-right: 40px;
    }

    &__name {
        font-size: 24px;
        color: $primaryColor;
    }

    &__role {
        font-size: 20px;
        color: $textColor;
        font-weight: 400;
    }

    &__link {
        height: 25px;
        display: inline-block;
        margin-right: 10px;
        transform: translateY(4px);
    }
}

@media (max-width: 768px) {
    .team__box {
        flex-direction: column;
        text-align: center;
    }

    .team__img {
        margin-right: 0;
    }
}