.contact-body {
    .small-hero {
        background: linear-gradient(0deg, rgba(74, 93, 242, 1), rgba(74, 93, 242, .5)), url(../assets/images/contact-bg.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        text-align: center;
    }
}

.contact {
    padding: 0;

    &__address-box {
        width: 300px;
        box-shadow: $boxShadow;
        border-radius: $borderRadius;
        padding: 40px;
    }
}

.contact__adress {
    display: flex;
    justify-content: space-around;
    padding: 40px 0 80px;
}

.contact__adress-box {
    width: 450px;
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
    padding: 40px;

    div {
        margin: 15px 0;
    }
}