.products-body {

    .mid-hero {
        background:linear-gradient(0deg, rgba(74, 93, 242, 1), rgba(74, 93, 242, .5)), url(../assets/images/product-bg.png);
        background-repeat: no-repeat;
        background-position: center center;
    }

    .btn--circle-text {
        padding-top: 85px;
        font-weight: 400;
        color: #fff;
        position: relative;

        &::before {
            content: '';
            height: 85px;
            width: 85px;
            border-radius: 50%;
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
            transition: all .3s ease-in-out;
        }

        &:first-child {
            margin-left: 10px;
        }

        &:hover {
            color: #fff;
            font-weight: 700;
        }
        &:hover::before {
            top: -20px;
        }
    }

    .testimonials {
        padding: 80px 0 20px 0;
    }
}

@media (max-width: 964px) {
    .products__box {
        flex-direction: column;
    }

    .products__content {
        margin-left: 0;
        margin-top: 50px;
    }

    .products__btns {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .products-body .mid-hero {
        background-size: contain;
    }

    .btn--circle-text::before {
        width: 60px; 
        height: 60px;
    }

    .btn--play::before {
        background-size: 40%;
    }

    .btn--product::before {
        background-size: 50%;
    }
}

@media (max-width: 500px) {
    .products__btns {
        display: flex;
        flex-direction: column;
    }

    .products__btns a:first-child {
        margin-right: 0;
        margin-bottom: 20px;
    }
}